/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* @import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */



.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item {
  width: calc((100% - 24px) / 4);
  box-sizing: border-box;
  margin: 10px;
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}
/* =======form====== */
.feedback-form {
  display: flex;
  flex-direction: column;
 padding: 24px;
}

.input-label-form {
  display: flex;
  flex-direction: column;
  color: #2E2F42;

font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.04px;
}

.text-label-form {
  display: flex;
  flex-direction: column;
  color: #2E2F42;

font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.04px;
}

.form-input {
  margin-top: 8px;
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
border: 1px solid #808080;
}
.text-form {
  margin-top: 8px;
  display: flex;
width: 360px;
height: 80px;
justify-content: center;
align-items: center;
}
.form-button {
  display: flex;
  margin-top: 10px;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #4e57ff;
color: #FFF;

font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;

width: 64px;
height: 24px;
}